/* ================================
   PAGE LAYOUT
================================ */

.home-page {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* ================================
   HEADER
================================ */

/* ---------- TOPBAR ---------- */

.header__topbar {
    display:none;
    width:100%;
    background:var(--color-text-main);
    color:var(--color-background);
    font-size:0.85rem;
    border-bottom:1px solid var(--color-border);
}

.header__topbar-inner{
    max-width:1200px;
    margin:0 auto;
    padding: 4px var(--space-3);

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header__topbar-inner p{
    margin:0;
}

.topbar-actions{
    display:flex;
    align-items:center;
    gap:var(--space-1);
}

.topbar-actions a:not(:last-child){
    position:relative;
    padding-right: var(--space-1);
}

.topbar-actions a:not(:last-child)::after{
    content:"";
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    width:2px;
    height:var(--space-2);
    background: var(--color-border);
}

.topbar-link.btn{
    font-weight:600;
    color:var(--color-text-main);
    background:var(--color-background);
    padding: 2px var(--space-1);
    border-radius:var(--radius-sm);
}

/* ---------- NAVBAR ---------- */

.header__navbar {
    width: 100%;
    background: var(--color-background);
    border-bottom: 1px solid var(--color-border);
    font-size: 1.2rem;
}

.navbar-container{
    max-width:1400px;
    margin:0 auto;
    display:flex;
    align-items:center;
    padding: var(--space-2) var(--space-2);
}

/* LOGO */

.navbar-logo {
    font-size: 1.6rem;
    font-weight: 700;
}

/* NAVIGATION */

.navbar-nav {
    display: none;
}

.navbar-nav{
    margin-left:24px;
}

.navbar-nav ul {
    display: flex;
    gap: var(--space-4);
}

.navbar-nav a {
    text-decoration: none;
    color: var(--color-text-main);
    font-weight: 500;
}

/* AUTH BUTTON */

.navbar-auth {
    display: none;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 2px;
}

/* HEADER MOBILE */

/* ================================
   NAV HOVER EFFECT
================================ */

.navbar-nav a {
    text-decoration: none;
    position: relative;
}

.navbar-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: var(--color-primary);
    transition: width 0.2s ease;
}

.navbar-nav a:hover {
    color: var(--color-primary);
}

.navbar-nav a:hover::after {
    width: 100%;
}

/* LIBARY */
.icon{
    display:inline;
    font-size:1.2rem;
}

.navbar-auth .icon {
    padding-right: 4px;
}

/* MAIN */
.site-main {
    width: 100%;
}

/* ================================
   HERO
================================ */
.hero {
    display: flex;
    padding: 80px 16px;
    text-align:center;
    width: 100%;
    background-color: var(--color-text-muted);
}

.hero-header {
    padding: 0 var(--space-4);
}

.hero-header h1{
    font-size: var(--space-5);
    font-weight: 700;
}

.hero-header p {
    font-size: var(--space-3);
}
/* ---------- HERO ---------- */

.hero{
    padding:80px 20px;
    text-align:center;
}

.hero-inner{
    max-width:900px;
    margin:0 auto;
}

/* ---------- HERO SEARCH ---------- */

.hero-search{
    width:100%;
    margin-top:24px;
}

.hero-search form{
    display:flex;
    align-items:center;
    gap:12px;
    flex-wrap:wrap;

    background:#fff;
    padding:12px;
    border-radius:var(--radius-md);
}

/* ================================
   RESPONSIVE
================================ */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* MOBILE MENU DESKTOP */
    .mobile-menu {
        display: none;
    }

    .header__topbar {
        display: block;
    }

    .navbar-nav {
        display: block;
    }

    .navbar-auth {
        display: flex;
        margin-left:auto;
        align-items: center;
        gap: var(--space-2);
    }

}



/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

@keyframes borderAnim {
    from {
        width:0;
    }
    to {
        width:100%;
    }
}